# ---- .NET / Visual Studio ----
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE
.idea/
.vscode/

# Packages / publish
packages/
*.nupkg
*.snupkg
publish/
*.Publish.xml

# Logs / temp
*.log
*.tmp
*.cache
*.zip
build_log.txt

# AppSettings (local)
appsettings.Development.json
appsettings.*.local.json

# Node / LibMan
node_modules/
FiloGH/wwwroot/lib/

# Front-end vendor (SENİN YAPIN)
FiloGH/wwwroot/assets/

# Source maps
FiloGH/wwwroot/**/*.map
