# ---- .NET / Visual Studio ----
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE
.idea/
.vscode/

# Paket / publish
packages/
*.nupkg
*.snupkg
publish/
*.Publish.xml

# Log / temp
*.log
*.tmp
*.cache
*.zip
build_log.txt

# AppSettings (local)
appsettings.Development.json
appsettings.*.local.json

# Node / LibMan
node_modules/
FiloGH/wwwroot/lib/

# Tema & vendor (YNEX)
FiloGH/wwwroot/assets/

# Source maps
FiloGH/wwwroot/**/*.map

# Kendi custom dosyaların (dahil kalsın)
!FiloGH/wwwroot/custom/
!FiloGH/wwwroot/custom/css/**
!FiloGH/wwwroot/custom/js/**
!FiloGH/wwwroot/js/**
!FiloGH/wwwroot/app.css
!FiloGH/wwwroot/favicon.ico
